body{
    margin: 0% 10%;
    padding: 10px 20px;
    align-content: center;
    border: 2px solid gainsboro;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

h1{
    color: red;
}
p{
    color: green;
    border: 2px solid royalblue;
    padding: 20px;
    border-radius: 10px;
}

.heading{
    align-self: center;
    display: inline;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid salmon;
}


.username{
    align-self: center;
    display: inline;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}

.intro_box{
    column-count: 2;
    vertical-align: middle;
}

.intro_item_left{
    width: auto;
    vertical-align: middle;
}
.intro_item_right{
    width: auto;
    vertical-align: middle;
}

.image_circle{
    border-radius: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 87, 111, 0.7);
}